<?xml version="1.0" ?>
<config>
    <modules>
      <Trollweb_Mcash>
        <version>1.0.2</version>
      </Trollweb_Mcash>
    </modules>
  
    <global>
      <blocks>
          <mcash>
              <class>Trollweb_Mcash_Block</class>
          </mcash>
      </blocks>
  
      <models>
        <mcash>
          <class>Trollweb_Mcash_Model</class>
        </mcash>
      </models>
  
      <helpers>
        <mcash>
          <class>Trollweb_Mcash_Helper</class>
        </mcash>
      </helpers>
    </global>
  
    <default>
      <payment>
        <mcash>
          <model>Trollweb_Mcash_Model_Payment_Mcash</model>
          <payment_action>authorize</payment_action>
          <order_status>processing</order_status>
          <active>0</active>
          <test>0</test>
          <title>mCASH</title>
          <merchant_id backend_model="adminhtml/system_config_backend_encrypted" />
          <user_id backend_model="adminhtml/system_config_backend_encrypted" />
          <user_priv_key backend_model="adminhtml/system_config_backend_encrypted" />
          <pos_id backend_model="adminhtml/system_config_backend_encrypted" />
        </mcash>
      </payment>
      <trollweb_mcash>
        <api>
          <baseurl_prod>https://api.mca.sh</baseurl_prod>
          <baseurl_test>https://mcashtestbed.appspot.com</baseurl_test>
          <oauth_version>v1</oauth_version>
          <testbed_token>s_Qu1gkYsZUvK-RvO43Ij02CYV-3wyMp6uUn0AodymQ</testbed_token>
        </api>
      </trollweb_mcash>
    </default>

    <frontend>
      <!-- Load layout file -->
      <layout>
        <updates>
          <mcash>
            <file>mcash/mcash.xml</file>
          </mcash>
        </updates>
      </layout>

        <secure_url>
            <mcash_callback>/mcash/callback</mcash_callback>
        </secure_url>
        <routers>
            <mcash>
                <use>standard</use>
                <args>
                    <module>Trollweb_Mcash</module>
                    <frontName>mcash</frontName>
                </args>
            </mcash>
        </routers>
    </frontend>

   <crontab>
     <jobs>
       <trollweb_mcash>
         <schedule>
           <cron_expr>13 3 * * *</cron_expr>
         </schedule>
         <run>
           <model>mcash/cron::reauthorize</model>
         </run>
       </trollweb_mcash>
     </jobs>
   </crontab>

</config>
