<?xml version="1.0" ?>
<config>
    <modules>
      <Trollweb_Mcash>
        <version>1.0.0</version>
      </Trollweb_Mcash>
    </modules>
  
    <global>
      <blocks>
          <mcash>
              <class>Trollweb_Mcash_Block</class>
          </mcash>
      </blocks>
  
      <models>
        <mcash>
          <class>Trollweb_Mcash_Model</class>
        </mcash>
      </models>
  
      <helpers>
        <mcash>
          <class>Trollweb_Mcash_Helper</class>
        </mcash>
      </helpers>
    </global>
  
    <default>
      <payment>
        <mcash>
          <model>Trollweb_Mcash_Model_Payment_Mcash</model>
          <payment_action>authorize</payment_action>
          <active>0</active>
          <test>1</test>
          <title>mCash</title>
          <merchant_id backend_model="adminhtml/system_config_backend_encrypted" />
          <user_id backend_model="adminhtml/system_config_backend_encrypted" />
          <user_priv_key backend_model="adminhtml/system_config_backend_encrypted" />
          <pos_id backend_model="adminhtml/system_config_backend_encrypted" />
        </mcash>
      </payment>
    </default>

    <frontend>
        <secure_url>
            <mcash_callback>/mcash/callback</mcash_callback>
        </secure_url>
        <routers>
            <mcash>
                <use>standard</use>
                <args>
                    <module>Trollweb_Mcash</module>
                    <frontName>mcash</frontName>
                </args>
            </mcash>
        </routers>
    </frontend>

</config>
