<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <mcash translate="label" module="mcash">
                    <label>mCASH, versjon 1.0.1</label>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[
<div class="custom-options">
<div class="box">
<br />
<p class="grand-total">mCASH Payment Gateway<br/><b></b></p>
Sign up as a merchant at <a href="https://my.mca.sh/mssp/">https://my.mca.sh/mssp/</a></br>
This mcash-magento extension is developed by <a href="http://www.trollweb.no">Trollweb Solutions AS</a><br/>
<label>Email <a href="mailto:help@mcash.no"><b>help@mcash.no</b></a></label><br />
<br/>
</div>
</div>
]]></comment>
                    <fields>
                        <active translate="label">
                            <label>Aktiv</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>mcash/system_config_backend_checkmerchant</backend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>

                        <title translate="label">
                            <label>Tittel</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Tekst som vises på mCASH betalingsvalget i nettbutikken.]]></comment>
                        </title>

                        <merchant_id translate="label">
                            <label>Merchant ID</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Din unike kunde-ID fra mCASH.]]></comment>
                        </merchant_id>

                        <user_id translate="label">
                            <label>Merchant User ID</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Your user id from mCASH]]></comment>
                        </user_id>

                        <user_priv_key translate="label">
                            <label>Private Key</label>
                            <frontend_type>textarea</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[The private key belonging to the above user]]></comment>
                        </user_priv_key>

                        <pos_id translate="label">
                            <label>POS ID</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Din POS id fra mCASH]]></comment>
                        </pos_id>

                        <test translate="label">
                          <label>Test modus</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_yesno</source_model>
                          <sort_order>10</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <comment><![CDATA[Sett denne til ja for å kjøre mot mCASH sitt test system.]]></comment>
                        </test>

                        <payment_action translate="label">
                            <label>Betalingshandling</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mcash/system_config_source_paymentaction</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <tooltip>
                                <![CDATA[Authorize Only (standard) reserverer først beløpet på kundens kort. Man må deretter kjøre Capture (trekke beløpet) i ordrebehandlingen i Magento når ordren sendes. Det er ikke lov å trekke penger fra kortet før varene sendes. Kunder som selger for eksempel digitale produkter som kunden mottar umiddelbart kan bruke Authorize + Capture.]]>
                            </tooltip>
                        </payment_action>

                        <order_status translate="label">
                            <label>Ordrestatus på autoriserte ordrer</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Velg ønsket ordrestatus på ordrer som har blitt authentisert og godkjent hos mCASH. Ordrer får normalt Venter/Pending før de er betalt. Ordrestatus som settes her er den de får når betalingen er bekreftet.]]>
                            </comment>
                        </order_status>

                        <allowspecific translate="label">
                            <label>Tillatt enkelt-land som kan bruke mCASH</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>41</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowspecific>

                        <specificcountry translate="label">
                            <label>Spesifiser hvilke land som kan bruke mCASH</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>42</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Velg utvalgte land som får lov å velge denne betalingsmetoden. Standard er alle land.]]></comment>
                            <depends><allowspecific>1</allowspecific></depends>
                        </specificcountry>

                        <enable_log translate="label">
                            <label>Aktiver logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>99</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_log>

                        <ask_for_scopes translate="label">
                          <label>Ask user for scopes</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_yesno</source_model>
                          <sort_order>100</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <comment><![CDATA[Set this to ask buyer for scopes/permissions]]></comment>
                        </ask_for_scopes>

                        <sort_order translate="label">
                            <label>Sortering av betalingsmetode</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Ønsket sortering i Betalingsmetoder-feltet på utsjekkingssiden i nettbutikken. Aktuelt dersom du tilbyr flere betalingsalternativer og ønsker å plassere mCASH betalingsvalget i en angitt rekkefølge.]]></comment>
                        </sort_order>
                    </fields>
                </mcash>
            </groups>
        </payment>
    </sections>
</config>
